body {
    background-color: #81b0bf;
}
#chat-penceresi {
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    height: 400px;
    padding: 10px;
    opacity: 0.7;
    filter: alpha(opacity=60);
}

#chat-penceresi li {

    font-weight: bold;
    color: #000000;
}

#cikti {
    width: 100%;
}
#cikti { list-style-type: none; margin: 0; padding: 0;  border-radius: 5px;}
#cikti li { padding: 5px 10px; }
#cikti li:nth-child(odd) { background: #eee; }


#gonder {
    width: 100%;
    margin-top: 5px;

}

#gonder:hover {
    background-color: yellowgreen;
}

#grup {
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin:0 0 0 8%;

}

#online {
    width: 100%;
    padding: 5px;
    background-color: lightgray;
    border-radius: 10px;
    height: 80%;
    opacity: 0.8;
    text-align: left;
    font-size: 18px;

}

#online_users >li> button {
    text-align: left;
    width: 100%;
    padding:5px;
    margin: 2px 0 2px 0;

}
#online_users >li> button:hover {
   background-color: whitesmoke;
    color: black;
}
#online_users >li> button:focus {
    background-color: whitesmoke;
    color: black;
}
#odalar >li >button{
    margin: 2px 0 2px 0;
}
#anaPencere{
    box-shadow: 2px 2px 6px #000;

    padding:20px;
    font:12px Arial, Helvetica, sans-serif;
    background:#CCC;

}

#tum{
    margin-right: auto;
    padding-left: auto;
    margin-left: 30%;
    margin-top: 40%;
    float:left;
    margin-bottom: 10%;
}
#oda {
    margin-top: 40%;
    float: left;
    margin-bottom: 10%;
}
#tek {
    margin-top: 40%;
    margin-right: 20%;
    margin-bottom: 10%;
    float: left;
}


